In [ ]:
print("Inteligencia Artificial Big Data")

Inteligencia Artificial Big Data

In [1]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\dsadm\appdata\roaming\python\python313\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\dsadm\appdata\roaming\python\python313\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dsadm\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dsadm\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dsadm\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\dsadm\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [30]:
Dicionario = {
    'A':[1,2,3],
    'B':[-3,-2,-1],
    'C':[0,10,20]
}

Label = ['1 linha', '2 linha', '3 linha']

DataFrame_01 = pd.DataFrame(Dicionario,index=Label)
print(DataFrame_01)

         A  B   C
1 linha  1 -3   0
2 linha  2 -2  10
3 linha  3 -1  20

In [32]:
DataFrame_01[['A','B']]

         A  B
1 linha  1 -3
2 linha  2 -2
3 linha  3 -1