In [7]:
print("Inteligencia Artificial Big Data")

Inteligencia Artificial Big Data

In [5]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\dsadm\appdata\roaming\python\python313\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\dsadm\appdata\roaming\python\python313\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dsadm\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dsadm\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dsadm\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\dsadm\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [6]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [ ]:
Dicionario = {
    'A':[1,2,3],
    'B':[-3,-2,-1],
    'C':[0,10,20]
}

Label = ['1 linha', '2 linha', '3 linha']

DataFrame_01 = pd.DataFrame(Dicionario,index=Label)
print(DataFrame_01)

         A  B   C
1 linha  1 -3   0
2 linha  2 -2  10
3 linha  3 -1  20

In [ ]:
# Selecionando as colunas A e B

DataFrame_01[['A','B']]

         A  B
1 linha  1 -3
2 linha  2 -2
3 linha  3 -1

In [ ]:
# Criando uma coluna nova no dataframe


DataFrame_01['Nova Coluna'] = DataFrame_01['A']*DataFrame_01['B']
print(DataFrame_01)

         A  B   C  Nova Coluna
1 linha  1 -3   0           -3
2 linha  2 -2  10           -4
3 linha  3 -1  20           -3

In [ ]:
#Excluindo coluna do DataFrame
DataFrame_01.drop('Nova Coluna',axis=1) # drop exclui a coluna do Dataframe axis =1 exclui a coluna

         A  B   C
1 linha  1 -3   0
2 linha  2 -2  10
3 linha  3 -1  20

In [ ]:
#Excluindo coluna do DataFrame de forma permanente
DataFrame_01.drop('Nova Coluna',axis=1,inplace=True) # drop exclui a coluna do Dataframe axis =1 exclui a coluna

In [ ]:
DataFrame_01 #Exibindo

         A  B   C
1 linha  1 -3   0
2 linha  2 -2  10
3 linha  3 -1  20

In [ ]:
# Localizando linha no DataFrame

DataFrame_01.loc['1 linha']

A    1
B   -3
C    0
Name: 1 linha, dtype: int64

In [ ]:
# Pegando linhas e colunas

DataFrame_01.loc[['1 linha','3 linha'],[ 'A','C']]

         A   C
1 linha  1   0
3 linha  3  20

In [ ]:
# Localizando uma linha do Dataframe pelo indice
DataFrame_01.iloc[2:3,0:] # [Linha, coluna]

         A  B   C
3 linha  3 -1  20